.footer{
    width: 100%;
    background: var(--text-color-2);
    height: 600px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 78px;
}

.footer .newsletter{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .newsletter h2{
    font-size: 40px;
}

.footer .newsletter p{
    font-size: 16px;
}

.footer .newsletter .input{
    margin-top: 20px;
    width: 50%;
    background: var(--color-1-opa);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.footer .newsletter .input input{
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    font-family: 'Caveat', cursive;
    font-weight: 700;
}

.footer .newsletter .input .btn{
    background: var(--text-color-2);
    padding: 5px;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-1);
}

.footer .center{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
}

.footer .center .left{
    flex: 1;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 40px;
}

.footer .center .middle{
    flex: 1;
}

.footer .title{
    font-size: 30px;
}

.footer .center .right{
    flex: 1;
}

.footer .footnote{
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 450px) {
    .footer .newsletter .input{
        width: 80%;
    }

    .footer .center{
        flex-direction: column;
    }
}