:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.admin{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 15rem auto 23rem;
    background: var(--color-background);
}

.adminSidebar{
    height: 100%;
    position: relative;
}

.adminContainer{
    height: 100%;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.adminAside{
    height: 100%;
    position: relative;
}

.menuLink{
    color: var(--color-dark);
}

.h-1{
    font-weight: 800;
    font-size: 1.8rem;
}

.h-2{
    font-size: 1.4rem;
}

.h-3{
    font-size: 0.87rem;
}

.h-4{
    font-size: 0.8rem;
}

.h-5{
    font-size: 0.77rem;
}

.small{
    font-size: 0.75rem;
}

.admin-profile{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.text-muted{
    color: var(--color-info-dark);
}

.para{
    color: var(--color-dark-variant);
}

.bold{
    color: var(--color-dark);
}

.primary{
    color: var(var(--color-primary));
}

.danger{
    color: var(--color-danger);
}

.success{
    color:  var(--color-success);
}

.warning{
    color: var(--color-warning);
}

@media screen and (max-width: 1200px) {
    .admin{
        grid-template-columns: 7rem auto 23rem;
        width: 100%;
        gap: 1rem;
        overflow-x: hidden;
    }

    .adminContainer{
        width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {
    .adminContainer{
        width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 4rem;
    }

    .adminSidebar{
        position: absolute;
    }

}