.profile{
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.profile .menuCard,
.profile .close{
    display: none;
}

.profile .sidebar{
    width: 350px;
    height: 100vh;
    background: var(--main-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.profile .sidebar .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile .sidebar .top .profileImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile .sidebar .top .username{
    color: var(--text-color-1);
    font-weight: 700;
    font-size: 30px;
}


.profile .sidebar .menu{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    gap: 5px;
}

.profile .sidebar .menu .links{
    padding: 10px;
    background: var(--text-color-3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
    color: var(--text-color-1);
    cursor: pointer;
}

.profile .sidebar .menu .links.activeLink{
    background: var(--text-color-2);
}

.profile .sidebar .logout{
    margin-top: auto;
    font-weight: 400;
    padding: 10px 20px;
    color: rgb(219, 27, 27);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.profile .sidebar .logout:hover{
    background: rgba(219, 27, 27, 0.445);
}

.profile .content{
    width: calc(100vw - 350px);
    margin-left: auto;
    padding: 30px;
    position: relative;
}

.profile .content .home{
    position: absolute;
    top: 10px;
    right: 0;
}

.profile .content .home .homeIcon{
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .profile .menuCard,
    .profile .close{
        display: block;

    }

    .profile .menuCard{
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .profile .close{
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .profile .menuCard .menuIcon,
    .profile .close .closeIcon{
        font-size: 40px;
        cursor: pointer;
    }

    .profile .sidebar{
        position: fixed;
        left: -100%;
        width: 80vw;
        z-index: 10;
        display: none;
        animation: showMenu 600ms ease forwards;
    }

    .profile .sidebar .logout{
        margin-top: auto;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
      }

    .profile .sidebar.show{
      display: block;
    }

    .profile .content{
        width: 100vw;
    }
}