.productsStore{
    width: 100%px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.productsStore .body{
    padding-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

.productsStore .body .top{
    text-align: left;
    width: 100%;
    font-size: 20px;
}

.productsStore .body .filter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    gap: 15px;
}

.productsStore .body .filter .filter-1{
    font-size: 18px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.productsStore .body .filter .filter-1 select{
    outline: none;
    padding: 5px;
}

.productsStore .body .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.productsStore .body .pagination{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.productsStore .body .pagination .btn1,
.productsStore .body .pagination .btn2{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 30px;
}

.productsStore .body .pagination .btn1{
    background: var(--text-color-2);
    color: var(--color-1);
}

.productsStore .body .pagination .btn2{
    background: var(--color-1);
    color: var(--text-color-2);
}

.productsStore .body .pagination .text{
    font-weight: 600;
    font-family: cursive;
}